* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(146, 143, 143);
  background: linear-gradient(90deg, rgba(26, 26, 27, 0.7) 0%, rgba(147, 147, 163, 0.7) 35%, rgba(152, 150, 148, 0.7) 100%);
}


.belt{
    width: 50px;
    height: 220px;
    background-color: rgb(153, 116, 59);
    box-shadow:0px 10px 15px rgba(0, 0, 0, 0.7), 
    0px 4px 6px rgba(0, 0, 0, 0.3),  
    inset 0px 3px 8px rgba(0, 0, 0, 0.5);
    border-top-left-radius:50px;
    border-top-right-radius:50px ;
    outline: solid 2px rgba(102, 56, 8, 0.816);
    z-index: -1;
  }

  .two{
    border-top-left-radius:0px;
    border-top-right-radius:0px ;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px ;
    position: absolute;
    top: 310px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .straphole{
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.5); /* Dark hole color */
  border-radius: 50%; /* Round shape */
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3); /* Recessed look */
  margin: 5px 0; /* Adjust spacing between holes */
    margin-top: 4px;
    margin-bottom: 10px;
   
}

  .dial{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20px;
    background-color: rgb(220, 220, 202);
    box-shadow:1px 2px 15px rgba(0, 0, 0, 0.7),
    0px 3px 5px rgba(0,0,0,0.3);
    margin: 0 auto; 
    border-radius: 50%;
    outline: solid 4px rgb(110, 116, 117);
    outline-offset:-2px ;
    display: flex;
    /*or flex-start and eliminate center dot*/
    align-items: center;
    justify-content: center;
  }

  .num{
    transform: rotate(calc(30deg* var(--n)));
    position: absolute;
    text-align: center;
    inset: 4px;
    font-size:12px ;
  }

.num b {
    transform: rotate(calc(-30deg* var(--n)));
    display: inline-block;
    font-weight: normal;
  }
  
  .center{
    width: 4px;
    height: 4px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    outline: 1px solid darkred;
    outline-offset: -1px;
  }

  .hours,.minutes,.seconds{
    transform-origin: bottom;
    height: 33px;
    width: 3px;
    position: absolute;
    top: 17px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px ;
    z-index: 1;
    
  }

  .hours{

    background-color: black;
    transform: rotate(30deg);
    width: 3.5px;
    height: 25px;
    top: 24px;
    box-shadow:0px 2px 1px rgba(0, 0, 0, 0.7), 
    0px 1px 2px rgba(0, 0, 0, 0.3);
    font-family:'Times New Roman', Times, serif;
  }

  .minutes{
    
    background-color: black;
    width: 2.5px;
    box-shadow:0px 2px 1px rgba(0, 0, 0, 0.7), 
    0px 1px 2px rgba(0, 0, 0, 0.3);

  }

  .seconds{
    width: 1.5px;
    background-color: darkred;
    box-shadow:0px 2px 1px rgba(0, 0, 0, 0.7), 
    0px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .winder{
    width: 4px;
    height: 4px;
    background-color: rgb(125, 125, 125);
    position: absolute;
    right: -6px;
    box-shadow:0px 10px 18px rgba(0, 0, 0, 0.7), 
    0px 4px 9px rgba(0, 0, 0, 0.3); 
    inset: 0px 3px 8px rgba(0, 0, 0, 0.5)
  }

  .name{
    width: 10%;
    height: 5%;
    background-color: wrgb(220, 220, 202);
    position: absolute;
    text-align:justify;
    font-size: 6px;
    bottom: 35px;
    z-index: 0;
  }

  .button{
    position: absolute;
    left: 20px;
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  

  .btn-light{
    position: absolute; 
    left: 0px;

  }

  .btndue{
    bottom: 0px;
  }

  .form-control{
    margin-bottom: 5px;
    border-radius: 10px;
    right: 0px;
    color: black;
    background-color: rgba(255,255,255,0.9);
  }

  .form-control option{
    background: rgba(183, 204, 204, 0.1)
  }

  .form-control{
    cursor: pointer;
  }

  .changer{
    background-color: rgb(24, 14, 1) !important;
  }

  .changerwh{
    background-color: rgb(220, 220, 202) !important;
  }
  .changetxtcolor{
    color: rgb(220, 220, 202) !important;
  }

  option{
    background: transparent !important;
  }

  