* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-color: #3c424d;*/
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 35%, rgba(0,212,255,0.7) 100%);
    
}

.ring{
 border: 4px solid grey;
 width: 100px;
 height:48px;
 display: flex;
 justify-content: center;
box-shadow: 0px 5px 10px rgba(108, 96, 96, 0.765) ,
  0px 2px 5px rgba(108, 96, 96, 0.365);
  inset: 0px 3px 7px rgba(0,0,0,0.5);

}


.hook{
height:48px;
width:4px;
background-color: gray;
box-shadow: 0px 5px 10px rgba(108, 96, 96, 0.765) ,
  0px 2px 5px rgba(108, 96, 96, 0.365);
  inset: 0px 3px 7px rgba(0,0,0,0.5);
}





.belt{
  width: 100px;
  height: 330px;
  background-color: rgb(14, 14, 12);
  box-shadow:0px 10px 15px rgba(0, 0, 0, 0.7), 
  0px 4px 6px rgba(0, 0, 0, 0.3),  
  inset 0px 3px 8px rgba(0, 0, 0, 0.5);
  
}

.connect{
    width: 120px;
    height: 40px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.connect-secondpiece{
    width: 120px;
    height: 40px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


span{
    z-index: 2;
    position: absolute;
    font-size: 0.35em;
    color: azure;}
.spone{
    left: 24px;
    top: 30px;    
}
.sptwo{
    left: 24px;
    bottom: 30px;
}

.spthree{
    right: 24px;
    top: 30px;
}
.spfour{
    right: 24px;
    bottom: 30px;
}

.button{
    background-color:yellow;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    z-index: 0;
    transition: 0.02s;
}


.one{
   left: -4px;
    top: 30px;    
}
.one:active,.two:active{
    left: 0.1px;
    width: 4px;
}


.two{
    left: -4px;
    bottom: 30px;  
}

.three{
    right: -4px;
    top: 30px;
}

.four{
    right: -4px;
    bottom: 30px;
}

.three:active,.four:active{
    right: 0.1px;
    width: 4px;
}


.second{
  height: 360px;
  margin-top: 0px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow:0px 10px 15px rgba(0, 0, 0, 0.7),
    0px 4px 6px rgba(0, 0, 0, 0.3),  
    inset 0px 3px 8px rgba(0, 0, 0, 0.5);
    
}

.straphole{
    height: 5px;
    width: 11px;
    background-color: rgba(108, 96, 96, 0.565);
    margin-top: 7px;
    margin-bottom: 15px;
    border-radius: 50px;

}

.watchbody {
    text-align: center;
    background-color:rgb(25, 26, 22);
    width: 200px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    outline: solid 3px rgba(230, 63, 8, 0.893);
    outline-offset: -14px;
    position: relative;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.7),
    0px 4px 6px rgba(0, 0, 0, 0.3), 
    inset 0px 3px 8px rgba(0, 0, 0, 0.5), 
    0px 0px 12px rgba(0, 0, 0, 0.5);
}

.upperwriting{
    text-align: center;
    color: rgb(205, 189, 168);
    position: absolute;
    top: 18px;
    font-size: 0.9rem;

}
.lowerwriting{
    text-align: center;
    color: antiquewhite;
    position: absolute;
    bottom: 18px;
    font-size: 0.55rem;
    color:gold;
    border:solid 2px rgb(213, 202, 83);
    border-radius: 8px;
    padding:2px;
    font-family: 'Courier New', Courier, monospace;
    
}
    



.clock-container {
    text-align: center;
    background-color:rgba(222, 227, 85, 0.58);
    position: absolute;
    width: 130px;
    height: 70px;
    border-radius: 2px;
     
}

.clockdays{

    font-size: 0.9rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(28, 26, 26, 0.8);

}

.clock {
    font-size: 0.9rem;
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(28, 26, 26, 0.8);

}
